<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>express</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        .tab-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .tab-box {
            width: flex;
            border: 1px solid #ddd;
            padding: 20px;
            margin-bottom: 20px;
        }

        .content-box {
            border: 1px solid #ddd;
            padding: 20px;
        }

        .user-info {
            text-align: right;
        }

        .border-right {
        border-right: 1px solid #ddd; /* 원하는 선의 스타일과 색상으로 조절 */
        padding-right: 20px; /* 오른쪽 간격 조절 */
        padding-left: 20px;
        }

        .messageItem {
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
        }

        .chatBox {
            margin: 0 20px;
            height: auto;
            overflow-y: scroll;
            list-style-type: none;
            padding: 0;
        }

        .chatBox::-webkit-scrollbar{
            display: none;
        }

    </style>


    <script>
        function modifyPost(postId, username, writer){
            if(username === writer){
                location.href = "/board/modify/" + postId;
            } else{
                alert("작성자가 아닙니다");
            }
        }


        function checkDelete(id, username, writer){
            if(username !== writer){
                alert("작성자가 아닙니다");
                return;
            } else if(confirm("글을 삭제하시겠습니까?")){
                document.getElementById("deleteForm").submit();
            }
            
        }

        function checkTitleAndContent(){
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        if(!title){
            alert("제목을 입력하세요");
            return false;
        }

        if(!content){
            alert("내용을 입력하세요");
            return false;
        }

        return true;
        }

        function openWindow(url){
            var width = window.innerWidth * 0.5;
            var height = window.innerHeight * 1;
            window.open(url, "newwindow", "width=" + width + ",height=" + height);
            return flase;
        }

        function checkComment(){
            var ccontent = document.getElementById("ccontent").value;

            if(!ccontent){
                alert("댓글 내용을 입력하세요");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>