<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>express</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        .tab-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .tab-box {
            width: flex;
            border: 1px solid #ddd;
            padding: 20px;
            margin-bottom: 20px;
        }

        .content-box {
            border: 1px solid #ddd;
            padding: 20px;
        }

        .user-info {
            text-align: right;
        }

        .border-right {
        border-right: 1px solid #ddd; /* 원하는 선의 스타일과 색상으로 조절 */
        padding-right: 20px; /* 오른쪽 간격 조절 */
        padding-left: 20px;
        }

    </style>

</head>
<body>